{% extends 'base.html' %}

{% block title %} Alon Halevi - CV {% endblock %}

{% block tohen %}
    <div class = "grid">=
        <div id= "GridContainer">=

        <div id= 'PersonalInfo' class="gridItem">
            <h4>Personal Info</h4>

        </div>
        <div id = 'Education' class="gridItem" >
            <h4>education</h4>
            <p>
                2nd year student for Information System management at Ben Gurion University, Beer Sheva
            </p>

        </div>

        <div id = 'Experience' class="gridItem" >
            <h4>Experience</h4>
            <p>
                : High School English teaching at Roee Kariv high school, Tel Aviv            </p>
        </div>

        <div id = 'ComputerSkills' class="gridItem" >
            <h4>Skills</h4>
            <p>
                Java, Python, Power BI, Excel, Qlik
            </p>
        </div>
            </div>
    </div>
{% endblock %}