<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CVgrid.css">
    <script src="CVgrid.JS"> </script>
    <title>Alon Halevi - CV</title>
</head>
<body>
    <div id='Title'>
        <h2>Alon Halevi - CV</h2>

    <div class = "grid">=
        <div id= "GridContainer">= 

        <div id= 'PersonalInfo' class="gridItem">
            <h4>Personal Info</h4>

        </div>
        <div id = 'education' class="gridItem" >
            <h4>education</h4>
            <p>
                2nd year student for Information System management at Ben Gurion University, Beer Sheva
            </p>

        </div>

        <div id = 'Experience' class="gridItem" >
            <h4>experience</h4>
            <p>
                : High School English teaching at Roee Kariv high school, Tel Aviv            </p>
        </div>
        
        <div id = 'ComputerSkills' class="gridItem" >
            <h4>Skills</h4>
            <p>
                Java, Python, Power BI, Excel, Qlik
            </p>
        </div>

    </div> 
</body>
</html>